$test: rgb(77, 77, 77);
%shared-anchor{
    color: $test;
    text-decoration: none;
    margin-right: 5px;
}
%shared-treatmentsSubMenuList{
    list-style: none;
    margin-bottom: 8px;
}
%shared-icons{
    font-size: 16px;
    color: rgb(144, 185, 228);
}
.hidden{
    display: none;
}
// menu 
.menu{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    height: 62px;
    // border: 1px solid $test;
    >img{
        width: 150px;
    }
    >i{
        font-size: 24px;
        color: rgba(148, 198, 118, 1);
    }
    >nav{
        position: absolute;
        top: 62px;
        right: 0;
        z-index: 5;
        width: 320px;
        min-height: 100vh;
        padding: 54px 24px;
        font-size: 18px;
        
        background: rgb(233, 233, 233);
        >ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            >li{
                list-style: none;
                margin-bottom: 24px;
                width: 100%;
                text-align: start;
                //background-color: aquamarine;
                >a{
                    @extend %shared-anchor;
                }
                >a:hover{
                    text-decoration: underline;
                }
                >span{
                    >i{
                    @extend %shared-icons;
                    }
                }
            }
            // treatments sub menu
            >li.treamentsMenu{
                >ul{
                    padding: 12px 0 0 12px;
                    //background-color: aliceblue;
                >li{
                    @extend %shared-treatmentsSubMenuList;

                    >a{
                        @extend %shared-anchor;
                    }
                    >a:hover{
                        text-decoration: underline;
                    }
                    >span{
                        >i{
                            @extend %shared-icons;
                        }
                    }
                    // treatmentMenu - suMenus
                    >ul.treatmentsSubMenuItems{
                        padding: 12px 0 0 12px;
                        //background-color: rgb(165, 229, 250);
                        >li{
                            @extend %shared-treatmentsSubMenuList;
                            >a{
                                @extend %shared-anchor;
                            }
                            >a:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }

                }

            }
        }
    }

}

// medias
@media only screen and(min-width:668px){
    .menu{
        flex-direction: column;
        height: auto;
        padding-top: 24px;
        // background-color: aquamarine;
        >img{
            // width: 150px;
        }
        >i{
            display: none;
        }
        >nav{
            position: initial;
            display: flex;
            min-height: 50px;
            width: auto;
            padding: 0;
        //background-color: aqua;
            >ul{
                display: flex;
                flex-direction: row;
                >li{
                    width: auto;
                    margin: 0 24px;
                    // text-align: start;
                    // background-color: aquamarine;
                }
                
            }
        }
    }
}