// header -menu/banner, footer, global, menu styles
@use "./menu";


// global styles

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-width: 320px;
    max-width: 1500px;
    margin: auto;
}