.menu > nav > ul > li.treamentsMenu > ul > li > ul.treatmentsSubMenuItems > li > a, .menu > nav > ul > li.treamentsMenu > ul > li > a, .menu > nav > ul > li > a {
  color: rgb(77, 77, 77);
  text-decoration: none;
  margin-right: 5px;
}

.menu > nav > ul > li.treamentsMenu > ul > li > ul.treatmentsSubMenuItems > li, .menu > nav > ul > li.treamentsMenu > ul > li {
  list-style: none;
  margin-bottom: 8px;
}

.menu > nav > ul > li.treamentsMenu > ul > li > span > i, .menu > nav > ul > li > span > i {
  font-size: 16px;
  color: rgb(144, 185, 228);
}

.hidden {
  display: none;
}

.menu {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  height: 62px;
}
.menu > img {
  width: 150px;
}
.menu > i {
  font-size: 24px;
  color: rgb(148, 198, 118);
}
.menu > nav {
  position: absolute;
  top: 62px;
  right: 0;
  z-index: 5;
  width: 320px;
  min-height: 100vh;
  padding: 54px 24px;
  font-size: 18px;
  background: rgb(233, 233, 233);
}
.menu > nav > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu > nav > ul > li {
  list-style: none;
  margin-bottom: 24px;
  width: 100%;
  text-align: start;
}
.menu > nav > ul > li > a:hover {
  text-decoration: underline;
}
.menu > nav > ul > li.treamentsMenu > ul {
  padding: 12px 0 0 12px;
}
.menu > nav > ul > li.treamentsMenu > ul > li > a:hover {
  text-decoration: underline;
}
.menu > nav > ul > li.treamentsMenu > ul > li > ul.treatmentsSubMenuItems {
  padding: 12px 0 0 12px;
}
.menu > nav > ul > li.treamentsMenu > ul > li > ul.treatmentsSubMenuItems > li > a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 668px) {
  .menu {
    flex-direction: column;
    height: auto;
    padding-top: 24px;
  }
  .menu > i {
    display: none;
  }
  .menu > nav {
    position: initial;
    display: flex;
    min-height: 50px;
    width: auto;
    padding: 0;
  }
  .menu > nav > ul {
    display: flex;
    flex-direction: row;
  }
  .menu > nav > ul > li {
    width: auto;
    margin: 0 24px;
  }
}
.about {
  text-align: center;
}
.about > h3 {
  color: rgb(93, 93, 93);
  font-size: 17px;
  font-weight: 200;
  letter-spacing: 0.5px;
  margin: 8px;
}
.about .adjectives {
  margin: 50px 0;
}
.about .adjectives > article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 20px 0;
  padding: 60px 38px;
  border: 1px solid rgb(93, 93, 93);
}
.about .adjectives > article > i {
  font-size: 42px;
}
.about .adjectives > article > h4 {
  margin: 10px 0 30px 0;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  max-width: 1500px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(93, 93, 93);
  font-weight: 200;
  letter-spacing: 0.5px;
  font-size: 17px;
}

h1, h2, h3, h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 25px;
  letter-spacing: 1px;
  color: rgb(128, 200, 200);
}

main {
  padding: 24px;
}

header .banner {
  position: relative;
  height: 450px;
}
header .banner .waveTop {
  position: absolute;
  top: -5px;
  width: 100%;
  z-index: 10;
  transform: rotate(180deg);
}
header .banner .coverImg {
  position: relative;
  background-image: url("../assets/desktop/cover.jpeg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  background-attachment: fixed;
  background-color: aliceblue;
  min-width: 320px;
  height: 100%;
}
header .banner .coverImg > div {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(147, 198, 118, 0.476);
}
header .banner .coverImg > div > h1 {
  display: none;
  color: white;
  letter-spacing: 3px;
}
header .banner .waveBotton {
  position: absolute;
  bottom: -3px;
  width: 100%;
}

@media only screen and (min-width: 668px) {
  main {
    padding: 0;
    max-width: 85%;
    margin: auto;
  }
}
@media only screen and (min-width: 800px) {
  header .banner {
    height: 300px;
  }
}

/*# sourceMappingURL=index.css.map */
