// header -menu/banner, footer, global, menu styles
@use "./menu";


// global styles

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-width: 320px;
    max-width: 1500px;
    margin: auto;
    overflow-x: hidden;
}
// header styles

header{
    .banner{
        position: relative;
        // background-color: rgb(72, 27, 79);
        height: 450px; 
        .waveTop{
            position: absolute;
            top: -5px;
            width: 100%;
            z-index: 10;
            transform: rotate(180deg);

        } 
        .coverImg {
            position: relative;
            background-image: url("../assets/desktop/cover.jpeg");
            background-repeat: no-repeat;
            background-position: right top;
            background-size: cover;
            background-attachment: fixed;
            background-color: aliceblue;
            min-width: 320px;
            height: 100%;
            >div{
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(1, 1, 1, 0.675);
                >h1{
                    display: none;
                    color: white;
                    letter-spacing: 3px;
                }
            }
        }
        .waveBotton{
            position: absolute;
            bottom: -3px;
            width: 100%;
        }
    }
  

}

// medias
@media only screen and(min-width:668px){
    header{
        .banner{
            .waveTop{
                
    
            } 
            .coverImg {
                >div{
                }
            }
            .waveBotton{
            
            }
        }
    
    }

}

@media only screen and(min-width:800px){
    header{
        .banner{
            height: 300px;
            .coverImg{
                // background-image: url("../assets/desktop/cover.jpeg");

            }
        }
    }
}