// header -menu/banner, footer, global, menu styles
@use "./menu";
@use "./about";
@use "./treatments";

$font-color:rgba(93, 93, 93, 1);
// rgba(93, 93, 93, 1)
// color: rgba(187, 168, 121, 1);


// global styles

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-width: 320px;
    max-width: 1500px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    //color de letra en general
    color: $font-color;
    font-size: 17px;
    font-weight: 200;
    letter-spacing: .5px;
    line-height: 30px;

    // overflow-x: hidden;


}
h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 25px;//h3 y h4 change size
    letter-spacing: 1px;
    line-height: 35px;
    color: rgba(128, 200, 200, 1);
}

main{
    >section{
        // border-bottom: 1px solid rgb(95, 94, 94);
        // margin-bottom: 50px;
    }
}

// header styles
header{
    .banner{
        position: relative;
        // background-color: rgb(72, 27, 79);
        height: 450px; 
        .waveTop{
            position: absolute;
            top: -5px;
            width: 100%;
            z-index: 10;
            transform: rotate(180deg);

        } 
        .coverImg {
            position: relative;
            background-image: url("../assets/desktop/cover.jpeg");
            background-repeat: no-repeat;
            background-position: right top;
            background-size: cover;
            background-attachment: fixed;
            background-color: aliceblue;
            min-width: 320px;
            height: 100%;
            >div{
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color:rgba(147, 198, 118, 0.476);
                >h1{
                    display: none;
                    color: white;
                    letter-spacing: 3px;
                }
            }
        }
        .waveBotton{
            position: absolute;
            bottom: -3px;
            width: 100%;
        }
    }
  

}

// medias
@media only screen and(min-width:668px){


}

@media only screen and(min-width:800px){
    header{
        .banner{
            height: 300px;
            .coverImg{
                // background-image: url("../assets/desktop/cover.jpeg");

            }
        }
    }
}